# Lists

## Data Structures

Lists are mutable which means they can be changed and they are indexed.

### List Creation

In [1]:
emptyList=[]
lst=['one','two','three','four'] #list of strings
lst2=[1,2,3,4] #list of integers
lst3=[[1,2],[3,4]]#list of lists
lst4=[1,'ramu',24,1.24] #list of different datatypes
print(lst4)

[1, 'ramu', 24, 1.24]

 ### List Length

In [2]:
lst=['one','two','three','four']

#find length of list
print(len(lst))

4

### List Append

In [3]:
lst.append('five')
print (lst)

['one', 'two', 'three', 'four', 'five']

In [4]:
lst.insert(2,'hey')
print(lst)

['one', 'two', 'hey', 'three', 'four', 'five']

### List Remove

In [5]:
lst.remove('hey')
print(lst)

['one', 'two', 'three', 'four', 'five']

### List append & extend

In [6]:
lst=['one','two','three','four']
lst2=['five','six']
lst.append(lst2)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [7]:
lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six'], 'five', 'six']

### List Delete

In [8]:
lst=['one','two','three','four','five']

del lst[1]
print(lst)

a=lst.pop(1)
print (a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [9]:
let=['one','two','three','four']

if 'two' in lst:
    print('AI')
    
#keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

ML

### List Sorting

In [10]:
#creates a list with number
numbers=[3,1,6,2,8]

sorted_list=sorted(numbers)
print("Sorted List: ",sorted_list)

print ("original list: ",numbers)

Sorted List:  [1, 2, 3, 6, 8]
original list:  [3, 1, 6, 2, 8]

In [11]:
#print a list in reverse sorted order
print("Reverse Sorted List : ",sorted(numbers,reverse=True))

#Original list remains unchanged 
print("Original list: ",numbers)

Reverse Sorted List :  [8, 6, 3, 2, 1]
Original list:  [3, 1, 6, 2, 8]

In [12]:
lst=[1,20,5,5,4.2]

#sort the list and stored in itself
lst.sort()

In [13]:
lst

[1, 4.2, 5, 5, 20]

### List having Multiple references

In [15]:
lst=[1,2,3,4,5]
abc=lst
abc.append(6)

#print original list
print("Original List: ",lst)

Original List:  [1, 2, 3, 4, 5, 6]

### String split to create a list

In [16]:
s="one,two,three,four,five"
slst=s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [17]:
s="This is applied AI course"
split_lst=s.split()
print(split_lst)

['This', 'is', 'applied', 'AI', 'course']

### List indexing

In [18]:
lst=[1,2,3,4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

2
3

### List Slicing

In [19]:
numbers=[10,20,30,40,50,60,70,80]
#print all numbers
print(numbers[:])

#print from index0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [20]:
print(numbers)
#print alternate elements in a list
print(numbers[::2])

#print elements start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

### List extending using "+"

In [21]:
lst1=[1,2,3,4]
lst2=['verma','naveen','murali','brahma']
lst=lst1+lst2

print(lst)

[1, 2, 3, 4, 'verma', 'naveen', 'murali', 'brahma']

### List count

In [22]:
numbers=[1,2,3,1,3,4,2,5]

#frequency of 1 in a list
print(numbers.count(1))

print(numbers.count(3))

2
2

### List Looping

In [23]:
#loop through a list 
lst=['one','two','three','four']

for ele in lst:
    print(ele)

one
two
three
four

### List Comprehensions

In [25]:
#without using list comprehension
square=[]
for i in range(10):
    square.append(i**2)
print (square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
#using list comprehension
square=[i**2 for i in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
#example

lst=[-10,-20,10,20,50]

#create a new list with values doubled
new_lst=[i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst=[i for i in lst if i>=0]
print(new_lst)

#create a list of tuples 
new_lst=[(i,i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

### Nested List Comprehensions

In [29]:
#let's suppose we have a matrix 
matrix=[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

#transpose of a matrix without list comprehension
transposed=[]
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [30]:
#with list comprehension
transposed=[[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Tuples

## Tuple creation

In [31]:
#empty tuple
t=()

#tuple having integers
t=(1,2,3)
print(t)

#tuple with mixed datatypes
t=(1,'raju',28,'abc')
print(t)

#nested tuples
t=(1,(2,3,4),[1,'raju',28,'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [32]:
#only parenthesis is not enough
t=('Yashaswi')
type(t)

str

In [33]:
#need a comma at the end 
t=('Yashaswi',)
type(t)

tuple

In [35]:
#paranthesis is optional
t="Yashaswi",
print(type(t))
print(t)

<class 'tuple'>
('Yashaswi',)

### Accessing Elements in Tuple

In [36]:
t=('Yashaswi','murali','naveen','srinu','brahma')

print(t[1])

murali

In [37]:
print(t[-1])

brahma

In [38]:
#nested tuple
t=('ABC',('Yashaswi','naveen','srinu'))
print(t[1])

('Yashaswi', 'naveen', 'srinu')

In [39]:
print((t[1][2]))

srinu

In [40]:
#slicing
t=(1,2,3,4,5,6)
print(t[1:4])

#print element from starting to 2nd last element
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

### Changing a tuple

Tuples are immutable

In [41]:
#creating tuple
t=(1,2,3,4,[5,6,7])

t[2]='x'

TypeError: 'tuple' object does not support item assignment

In [42]:
t[4][1]='Yashaswi'
print (t)

(1, 2, 3, 4, [5, 'Yashaswi', 7])

In [43]:
#concatinating tuples
t=(1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [44]:
#repeat the elements in a tuple for a given number of times using the * operation
t=(('Yashaswi ',)*4)
print(t)

('Yashaswi ', 'Yashaswi ', 'Yashaswi ', 'Yashaswi ')

 ### Tuple Deletion

In [45]:
t=(1,2,3,4,5,6)
del t

### Tuple count

In [46]:
t=(1,2,3,1,3,3,4,1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

### Tuple Index

In [47]:
t=(1,2,3,1,3,3,4,1)
print(t.index(3)) #return index of the first eleement of the index

2

### Tuple membership

In [48]:
#test if an item exists in a tuple or not , using the keyword in 
t=(1,2,3,4,5,6)

print(1 in t)

True

In [49]:
print(7 in t)

False

### Tuple Length

In [50]:
t=(1,2,3,4,5,6)
print(len(t))

6

### Tuple Sort

In [51]:
t=(4,5,1,2,3)

new_t=sorted(t)
print(new_t)

[1, 2, 3, 4, 5]

In [52]:
#get the largest element in a tuple
t=(2,5,1,6,9)

print(max(t))

9

In [53]:
print(min(t))

1

In [54]:
print(sum(t))

23

# Sets

## Set Creation

In [55]:
#set of integers
s={1,2,3}
print(s)

{1, 2, 3}

In [56]:
print(type(s))

<class 'set'>

In [57]:
#set doesn't allows the duplicate
a={1,2,3,1,4}
print(s)

{1, 2, 3}

In [58]:
#we can make a set from list
s=set([1,2,3,1])
print(s)

{1, 2, 3}

In [59]:
#initialize a set with set() method
s=set()

print(type(s))

<class 'set'>

### Add element to a set

In [60]:
s={1,3}
s.add(2) #add element
print(s)

s.update([5,6,1]) #add multiple elements
print(s)

s.update([8,9],{10,2,3}) #add  list and set
print(s)

{1, 2, 3}
{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6, 8, 9, 10}

### Remove elements from a set

In [61]:
s={1,2,3,5,4}
print(s)

s.discard(4)

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [62]:
#remove an element
s.remove(2)

print(s)

{1, 3, 5}

In [64]:
#discard an element not present in a set s
s.discard( 7)
print(s)

{1, 3, 5}

In [65]:
# we can remove items using pop() method
s={1,2,3,5,4}
s.pop()

print(s)

{2, 3, 4, 5}

In [66]:
s.pop()
print(s)

{3, 4, 5}

In [67]:
s={1,5,2,3,6}
s.clear() #remove all elements in set using clear() method 
print(s)

set()

### Python Set Operations

In [68]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
#union of 2 sets using / operator

print(set1|set2)

{1, 2, 3, 4, 5, 6, 7}

In [69]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [70]:
print(set1&set2)

{3, 4, 5}