# Variable Assignments

In [1]:
#We use assignment operators to assign value to a variable.

a=10;
b=5.5;
c="ML"

  # Multiple Assignments

In [2]:
a,b,c=10,5.5,"ML"

In [3]:
a=b=c="AI" #Assign the same value to multiple variables

In [4]:
x=3
print(id(x)) #prints address of  variable x

1876585552

In [5]:
y=3
print(id(y))

1876585552

x and y points to the same memory location

In [6]:
y=2
print(id(y))

1876585520

# Data Types

## Numbers

In [7]:
a=5
print(a," is of type ",type(a))

5  is of type  <class 'int'>

In [8]:
a=2.5
print(a, " is of type ",type(a))

2.5  is of type  <class 'float'>

In [9]:
a=1+2j
print(a, " is a complex number?")
print(isinstance(1+2j,complex))
print(type(a))

(1+2j)  is a complex number?
True
<class 'complex'>

## Boolean

In [10]:
a=True  #a is a boolean type
print(type(a))

<class 'bool'>

 # Python Strings

In [11]:
a="This is online AI course"
print(type(a))

<class 'str'>

In [17]:
print (a[0])
print(a[len(a)-1])

T
e

In [15]:
#slicing
a[5:]

'is online AI course'

# Python List

In [20]:
a=[10,20.5,"Hello"]
print(a[2])

Hello

Lists are mutable ,meaning,value of elements of a list can be altered.

In [19]:
a[1]=30.7
print(a)

[10, 30.7, 'Hello']

# Python Tuple

Tuples is an ordered sequence of items same as list. The only difference is that tuples are immutable Tuples once created cannot be modified .

In [22]:
t=(1,1.5,"ML")

In [23]:
print(t[1])

1.5

# Python Set

In [25]:
a={10,30,20,40,5}

In [26]:
print(a)

{5, 40, 10, 20, 30}

In [27]:
print(type(a))

<class 'set'>

We can perform set operations like union, intersection on two sets . Set have unique values.

In [28]:
s={10, 20, 20, 30, 30,30}
print(s)

{10, 20, 30}

# Python Dictionary

Dictionary is an unordered collection of key-value pairs.

In python, dictionaries are defined with braces{} with each item being a pair in the form key:value. Key and value can be of any typee.

In [31]:
d={'a':"apple",'b':"bat"}
print (d['a'])

apple

## Conversion between Datatypes

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [32]:
float(5)

5.0

In [33]:
int(100.5)

100

In [34]:
str(20)

'20'

In [36]:
int('10')

10

In [37]:
user="Yashaswi"
lines=100

print("Congratulations, "+user+"! You just wrote "+str(lines)+"lines of code")

Congratulations, Yashaswi! You just wrote 100lines of code

We can convert one sequence to other.

In [38]:
a=[1,2,3]
print(type(a))
s=set(a)
print (type(s))

<class 'list'>
<class 'set'>

In [39]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

# Python Input and Output

## Python Output

We use the print() function  to output data to the standard output device.

In [40]:
print("Hello World")

Hello World

In [41]:
a=10
print("The value of a is ",a)
print("The value of a is "+str(a))
print (a)

The value of a is  10
The value of a is 10
10

## Output Formatting

In [42]:
a=10;b=20
print("The value of a is {} and b is {}".format(a,b)) #default

The value of a is 10 and b is 20

In [43]:
a=10;b=20
print("The value of b is {1} and a is {0}".format(a,b)) #specify position

The value of b is 20 and a is 10

In [46]:
 #We can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="Yashaswi", greeting="Good Morning"))

Hello Yashaswi, Good Morning

In [47]:
#We can combine positional arguments with keyword arguments
print('The story of {0},{1} and {other}'.format('Bill','Manfred',other='Georg'))

The story of Bill,Manfred and Georg

## Python Input

want to take the input from the user . In python , we have the input() function to allow this

In [48]:
num=input('Enter a number: ')
print(num)

Enter a number: 1234
1234

# Operator

Operator are special symbols in Python that carry out arithematic or logical computation. The value that the operator operates on is called operand.

# Arithematic Operators

In [49]:
x,y=10,20
#addition
print(x+y)

30

In [50]:
print(15%2)

1

In [51]:
#Floor Division 
print(15//2)

7

In [52]:
print(-15//2)

-8

In [53]:
#Exponent
print(2**2)

4

In [54]:
print(x**y)

100000000000000000000

# Comparison Operators

In [55]:
a,b=10,20
print(a<b)

True

## Logical Operators

In [56]:
a,b=True,False
print(a and b)

False

In [57]:
print(a or b)

True

In [58]:
print(not b)

True

## Bitwise Operators

In [60]:
a,b=10,4
print(a&b) #Bitwise and
print (a|b)#Bitwise or

0
14

## Assignment Operators

In [61]:
a=10
a+=10
print (a)

20

In [62]:
a-=10

In [63]:
print(a)

10

# Special Operators

## Identity Operators

In [64]:
a=5
b=5
print(a is b)

True

In [65]:
l1=[1,2,3]
l2=[1,2,3]
print(l1 is l2)

False

In [66]:
s1="AAIC"
s2="AAIC"
print(s1 is not s2)

False

## Membership Operators

In [68]:
lst=[1,2,3,4]
print(1 in lst)

True

In [69]:
d={1:"a",2:"b"} #This is dictionary
print(3 in d)

False

# Python if....else Statement

In [71]:
num=10
if num==10:
    print("Number is positive")
print("This will print always")

Number is positive
This will print always

## if...else statement

In [72]:
num=10
if num>0:
    print("Positive Number")
elif num==0:
        print("Zero")
else:
    print("Negative Number")

Positive Number

## Nested if statements

In [73]:
num=10.5

if num>=0:
    if num==0:
        print("Zero")
    else:
        print("Positive Number")
else:
    print("Negative Number")

Positive Number

## Pythoon program to find the largest element among three numbers

In [75]:
num1=10
num2=50
num3=15
if(num1>=num2) and (num1>=num3):
    largest =num1
elif(num2>=num1) and (num2>=num3):
    largest=num2
else:
    largest=num3
print("Largest element among three numbers is: {}".format(largest))

Largest element among three numbers is: 50

# Python while loop

In [78]:
#Find the product of all numbers present in list 
lst=[10,20,30,40,50]

product=1
index=0

while index<len(lst):
    product *= lst[index]
    index += 1

print("Product is  {}".format(product))

Product is  12000000

## while loop with else

In [80]:
numbers=[1,2,3,4,5]

#iterating over the list
index=0
while index<len(numbers):
    print(numbers[index])
    index+=1
else:
    print("no items left in the list")

1
2
3
4
5
no items left in the list

## Python program to check given number is prime or not

In [81]:
num=int(input('Enter a number: '))    #convert string to int

isDivisible=False
i=2;
while i<num:
    if num%i==0:
        isDivisible=True;
        print("{} is divisible by {}".format(num,i))
    i+=1;
if isDivisible:
    print("{} is not a prime number".format(num))
else:
    print("{} is a prime number".format(num))

Enter a number: 19
19 is a prime number

## Python for Loop

In [82]:
#Find product of all the numbers in the list 
lst=[10,20,30,40,50]

product=1
#iteratig over the list 
for ele in lst :
    product *=ele
    
print("Product is:{}".format(product))

Product is:12000000

## range() function

we can generate a sequence of numbers using range() functions. range(10) will generate numbers from 0 to 9

In [83]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [84]:
#print range of numbers from 1 to 20 withstep size of 2
for i in range (1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [86]:
lst=["Yashaswi","Kairavi","Mansi","Pushppreet","Anshima"]

#iterate over the list using index
for index in range(len(lst)):
    print(lst[index])
for ele in lst :
    print(ele)

Yashaswi
Kairavi
Mansi
Pushppreet
Anshima
Yashaswi
Kairavi
Mansi
Pushppreet
Anshima

## for loop with else

In [87]:
numbers=[1,2,3]

#iterate over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [88]:
for item in numbers:
    print(item)
    if item%2==0:
        break;
else:
    print("no item left in the list")

1
2

# Python program to display all the prime numbers within an interval

In [89]:
index1=10
index2=50

print("Prime numbers between {0} and {1}  are : ".format(index1,index2))

for num in range(index1,index2+1):
    if num>1:
        isDivisible=False;
        for index in range(2,num):
            if num%index==0:
                isDivisible=True;
        if not isDivisible:
            print (num);

Prime numbers between 10 and 50  are :
11
13
17
19
23
29
31
37
41
43
47

## Python break and continue

In [90]:
numbers=[1,2,3,4]
for num in numbers:
    if num==4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of the for loop")

1
2
3
Outside of the for loop

## Program to check number is prime or not

In [91]:
num=int(input('Enter a number: '))    #convert string to int

isDivisible=False
i=2;
while i<num:
    if num%i==0:
        isDivisible=True;
        print("{} is divisible by {}".format(num,i))
        break;
    i+=1;
if isDivisible:
    print("{} is not a prime number".format(num))
else:
    print("{} is a prime number".format(num))

Enter a number: 19
19 is a prime number

In [92]:
#print odd numbers in a list
numbers=[1,2,3,4,5]

for num in numbers:
    if num%2==0:
        continue
    print (num)
else:
    print("else-block")

1
3
5
else-block