In [15]:
import pandas as pd
import numpy as np

In [2]:
PATH = 'H:/SELF/Yashu/Files/athlete_events.csv/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

**1. How old were the youngest male and female participants of the 1992 Olympics?**

In [13]:
print(data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age'].min())
print(data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age'].min())

11.0
12.0

**2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics?**

In [21]:
Sports = sorted(data['Sport'].unique())
b_Sports = ['Basketball']
male_gym = np.unique(data.loc[(data['Year'] == 2012) & (data['Sex'] == 'M') & (data['Sport'].isin(b_Sports)),['Name']]).size
total_male = np.unique(data.loc[(data['Year'] == 2012) & (data['Sex'] == 'M'),['Name']].values).size
(male_gym/total_male)*100

2.4581768521679757

**3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics?**

In [29]:
data[(data['Sport']  == 'Tennis' ) &( data['Sex'] == 'F' ) & (data['Year'] == 2000 )]['Height'].agg({np.mean,np.std})

std       6.458673
mean    171.792000
Name: Height, dtype: float64

**4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?**

In [30]:
maxWeight = data[(data['Year'] == 2006)]['Weight'].max()
data[(data['Year'] == 2006)& (data['Weight'] == maxWeight)]['Sport']

8102    Skeleton
Name: Sport, dtype: object

**5. How many times did John Aalberg participate in the Olympics held in different years?**

In [37]:
print(data[data['Name']=='John Aalberg']['Year'].unique())
len(data[data['Name']=='John Aalberg']['Year'].unique())

[1992 1994]

2

**6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.**

In [43]:
data[(data['Sport']=='Tennis')&(data['Team']=='Switzerland')&(data['Year']==2008)&(data['Medal']=='Gold')]['Medal'].count()

2

**7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in Medal column.**

In [46]:
sp=data[data['Team']=='Spain']['Medal'].count()
it=data[data['Team']=='Italy']['Medal'].count()
MedalData=data.loc[(data['Year']==2016)&(data['NOC'].isin(['ESP','ITA']))&(data['Medal'].notnull()),['Name','NOC','Medal']].drop_duplicates(keep = "first")
print(MedalData.groupby('NOC').size())

NOC
ESP    45
ITA    70
dtype: int64

**8. What age category did the fewest and the most participants of the 2008 Olympics belong to?**

In [48]:
ageRange = [5,15,25,35,45,55]
AgeData = data.loc[(data['Year'] == 2008) & (data['Age'].notnull()),['Name','Age']].drop_duplicates(keep = 'first')

AgeCount = AgeData.groupby(pd.cut(AgeData.Age,ageRange)).count()

print(AgeCount.loc[AgeCount['Age'] == AgeCount['Age'].min(),].index.get_values())
print(AgeCount.loc[AgeCount['Age'] == AgeCount['Age'].max(),].index.get_values())

[Interval(5, 15, closed='right')]
[Interval(15, 25, closed='right')]

**9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?**

In [50]:
print(data[(data['Season']=='Summer')&(data['City']=='Atlanta')]['City'].count())
print(data[(data['Season']=='Winter')&(data['City']=='Squaw Valley')]['City'].count())

13780
1116

**10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?**

In [51]:
abs(len(data[(data['Year'] == 1986)]['Sport'].unique()) - len(data[(data['Year'] == 2002)]['Sport'].unique()))

15